<!DOCTYPE html>
<html lang="en">
<head>	    
	<title>СУБД Бота - материалы</title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous" type="text/css">
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}" />

</head>
<body>
		<div class="container">        
			<div class="header">           
				<nav class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center">
					<a href="/" class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto">
						<span class="fs-4">СУБД MySQL Telegram bot</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/userhome" class="nav-link">Главная</a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link active">Выйти</a>
						</li>
					</ul>                    
				</nav>				        
			</div>
			<div class="bg-light rounded-3 mb-4 p-5">
				<h1 class="text-center fw-bold display-5">Таблица материалов</h1>								
				<div class="container-fluid">
					<div class='row'>						
						<div class="col-2">							
							<div class="listgroup">
								<a class="list-group-item text-center fw-bold">Таблицы:</a>
								<a href="/products" class="list-group-item">Продукция</a>
								<a href="/price" class="list-group-item">Прайс</a>
								<a href="/categories" class="list-group-item">Категории</a>
								<a href="/color" class="list-group-item ">Цвета</a>
								<a href="/material" class="list-group-item list-group-item-action active">Материалы</a>
								<a href="/purchases_item" class="list-group-item">Список покупок</a>
								<a href="/purchases" class="list-group-item">Покупки</a>
								<a href="/customers" class="list-group-item">Клиенты</a>
							</div>
						</div>
						<div class="col-10 table-responsive">
							<div class="mb-2">
								<nav class="navbar navbar-light bg-light">	
									  <form class="d-flex" method="post" name="form_query">
										<button class="btn btn-primary col-1.2 text-center me-2" type="button"  data-toggle="modal" data-target="#addModal" id="query_add">Добавить</button>
										<button class="btn btn-primary col-1.2 text-center me-2" type="button" data-toggle="modal" data-target="#deleteModal" id="quary_delete">Удалить</button>
										<button class="btn btn-primary col-1.2 text-center me-2" type="button" id="quary_modify" data-toggle="modal" data-target="#editModal">Изменить</button>
										<!-- <input class="form-control mx-2" type="search" placeholder="Поиск" aria-label="Search">
										<button class="btn btn-outline-success me-2" type="submit">Найти</button> -->
									  </form>
									  <!-- Модальное окно добавить запись -->
									  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  <h4 class="modal-title" id="addModalLabel">Добавить запись</h4>
											</div>
											<div class="modal-body">
											  <form role="form">
												<div class="form-group">
												  <label for="message-text" class="control-label">Материал:</label>
												  <textarea class="form-control" id="addDescription"></textarea>
												</div>
											  </form>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
											  <button id="btnUpdate" type="button" class="btn btn-primary" onclick="TB_add(this);">Добавить</button>
											</div>
										  </div>
										</div>
									  </div>
									<!-- Модальное окно удалить запись -->
									<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header" style="text-align:center;">
											  <h4 class="modal-title" style="color:red;" id="deleteModalLabel">Вы собираетесь удалить это навсегда!!</h4>
											</div>
										   
											<div class="modal-footer">
											  <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
											  <button type="button" class="btn btn-primary" onclick="TB_delete(this);">Удалить</button>
											</div>
										  </div>
										</div>
									  </div>
										<!-- Модальное окно изменить запись -->
										<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="aditModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="editModalLabel">Изменить запись</h4>
												</div>
												<div class="modal-body">
													<form role="form">
													<div class="form-group">
														<label for="message-text" class="control-label">Материал:</label>
														<textarea class="form-control" id="editDescription"></textarea>
													</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
													<button id="btnUpdate" type="button" class="btn btn-primary" onclick="TB_edit(this);">Изменить</button>
												</div>
												</div>
											</div>
											</div>
								  </nav>
							</div>

							<table class="table table-sm table-striped table-hover table-bordered table-scroll-body">
								<thead class="table-dark sticky-top">
									<tr>
										<td class="text-center fw-bold col-1">ID материала</td>
										<td class="text-center fw-bold">материал</td> 
									</tr>
								</thead>
								<tbody>
									{% for material in materials %}
									<tr onclick="handleRowClick(this)">
										<td class="text-center col-1">{{ material.material_id }}</td>
										<td class="text-center">{{ material.material }}</td>	
									{% endfor %}
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">       
				<p>&copy; Company 2022</p>				        
			</footer>    
		</div>
		<script type="text/javascript">
			var testing = [];
			var page = "page_mat";
			function handleRowClick(row) {
				// Удаляем класс "selected" у всех строк таблицы
				var rows = document.getElementsByTagName("tr");
				var cells = row.getElementsByTagName("td");
				testing = [];
				for (var i = 0; i < rows.length; i++) {
					rows[i].classList.remove("table-active");
				}
				for (var i = 0; i < cells.length; i++) {
					testing[i] = cells[i].textContent;					
					}					
				// Добавляем класс "selected" к выбранной строке
				row.classList.add("table-active");
				// for (const test of testing) {
				// 	console.log(test);
				// }

  			}
			// функция удаления записей
			function TB_delete(){
				$.ajax({
					type: 'POST',
					url:'/TB_delete',
					contentType: "application/json;charset=UTF-8",
					data : JSON.stringify({'testing': testing,
											'page': page,}),
					dataType: "json",
					cache: false,
					success: function(response) {
						$('#deleteModal').modal('hide');
						// GetWishes();
						console.log(response);
					},
				})
			}

			// Функция добавления в таблицу
			function TB_add(){
				var addQuery = document.getElementById("addDescription").value;
				testing.unshift('page_mat');
				$.ajax({
					type: 'POST',
					url:'/TB_add',
					contentType: "application/json;charset=UTF-8",
					data : JSON.stringify({'addQuery': addQuery,
											'page': page,}),
					dataType: "json",
					cache: false,
					success: function(response) {
						$('#addModal').modal('hide');
						// GetWishes();
						console.log(response);
					},
				})

			}

			//Функция изменения записи в таблице
			function TB_edit(){
				var editQuery = document.getElementById("editDescription").value;
				$.ajax({		
					type: 'POST',
					url:'/TB_edit',
					contentType: "application/json;charset=UTF-8",
					data : JSON.stringify({'editQuery': editQuery,
											'testing': testing,
											'page': page,}),
					dataType: "json",
					cache: false,
					success: function(response) {
						$('#editModal').modal('hide');
						// GetWishes();
						console.log(response);
					},
				})
			}


			</script>


</body>
</html>
